html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    scroll-behavior: smooth;
}
  
*,
*::after,
*::before {
  box-sizing: inherit;
}

.header {
  display: flex;
  width: 100%;
  min-width: 320px;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.header__img {
  width: 50px;
}

.header__paragraph {
  font-size: 1.6rem;
}

.main {
  display: grid;
  width: 100%;
  margin: 50px;
  min-width: 320px;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  gap: 20px;    
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  padding: 10px;
  border: solid 1px;
  align-self: center;
 
 
}

.main__section--title {
  font-size: 1.5rem;
}

.main__section--img {
  max-width: 140px;
  margin: 10px;
}

/* .main__section--form {
  max-height: 150px;
} */

.main__section--form label {
  font-weight: 700;
  font-size: 1.2rem;
}

.main__form--buttons {
  display: flex;
  margin: 15px;
  justify-content: space-evenly;
}

  

  /* 
  .container--box {
    display: grid;
    margin-top: 50px; 
    justify-content: center;  
    grid-gap: 50px;
    row-gap: 50px;
  } */


  